<!DOCTYPE html>
<html>
<head>
<link th:href="@{/tableFormat.css}" rel="stylesheet">

</head>
<body>

<div th:insert="pmPages/pmHomeForAll"></div>
  <h3><p th:text="${message}"/></h3>
  <div align="center">
<br><br><br><br><br><br>
    <table border="1" >
        <thead>		
            <tr>
					               
					<th>Request ID</th>                 
					<th>User_mail</th>                 
					<th>New_User_mail</th>                 
					<th>Confirm</th>                 
					<th>Cancel</th>             
				</tr>
        </thead>

<tbody>
<tr>

		<td colspan="5" align="center">NO REQUEST</td>
		
			
	</tr>
</tbody> 
 
 </table>
 </div>
</body>
</html>
